// .role-listing{margin: 50px;}
.add-role{text-align: right;}
.add-role button{background-color: #0f3279;}
.roles-heading{
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    padding: 10px;
    background: whitesmoke;
}

.role_func {
    background: white;
    text-align: right;
    padding: 7px 20px;
    margin: -48px -12px 10px -30px;
    height: 46px;
}

.modal-container{
 margin-top: 100px;
 margin-left: 30%;
 height: 300px;
 width: 500px;
 background-color:rgb(255, 255, 255)}
.modal-box{background-color: white;padding: 2% 2% 10% 5%;}
.modal-text{
 color: gray;
 text-align: center;
 font-size: 20px;
 margin-top: 10px;
}
.modal-btn{text-align: right;gap: 10px;padding: 2% 5% 1% 0%;}
.modal-btn-1{margin-right: 2%;}

.Rectangle-39 {
    width: 17px;
    height: 12px;
    margin: 0 0 29px 23px;
    padding: 3px 3.3px 2.2px 4px;
    border-radius: 6px;
    background-color: #d12231;
  }