body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eff4f4 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiTableHead-root {
  background-color: #f3f2f2;
 }

.justify-center {
  justify-content: initial !important;
}

.MuiTableCell-head {
  font-weight: 700 !important;
  color: #333333 !important;
}

.MuiTableCell-root {
  border-bottom: 1px solid #c9c9c9 !important;
}
